.weather-card {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 15px 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;

    .weather-holder {
       margin-right: 40px;
       @media (max-width: 360px) {
        margin: 0 auto;
        }
    }

    .weather-title {
        font-size: 65px;
        line-height: 75px;
        margin-bottom: 15px;
        @media (max-width: 568px) {
            font-size: 35px; 
        }
        @media (max-width: 360px) {
            font-size: 25px; 
        }
    }

    .weather-temp {
        font-size: 47px;
        line-height: 55px;
        margin-bottom: 15px;   
        @media (max-width: 360px) {
            font-size: 35px;
            line-height: 45px;
        }
    }

    .weather-wind {
        font-size: 30px;
        line-height: 55px;
    }

  }

  .block-holder {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    margin-bottom: 25px;

    .block {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        padding: 15px 10px;
        width: 45%;
        height: 100%;
        text-align: center;    
        @media (max-width: 360px) {
            width: 40%;
        }
    }
    
    .text-holder {
        margin-bottom: 15px ;
    }
}

