.daily-section {

    .daily-title {
        margin-bottom: 15px;
        text-align: center;
    }

    .card-holder {
        width: 100%;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .card {
        padding: 10px 20px;
    }

    .card-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 360px) {
            display: block;
        }
    }
      
      .card-item {
        margin-bottom: 10px;
        width: 20%;     
        @media (max-width: 360px) {
            margin: 0 auto;
            width: 30%;
        }
        
        &.name {
            font-size: 24px;
            @media (max-width: 768px) {
                font-size: 20px;
            }
            @media (max-width: 568px) {
                font-size: 15px;
            }
            @media (max-width: 360px) {
                font-size: 14px;
            }
            
        }
    }
      
    .bottom-line {
        border-bottom: 1px solid rgb(185, 180, 180);
        display: block;
    }

    .tepm-icon {
        font-size: 24px;
        margin-right: 10px;
        @media (max-width: 768px) {
            font-size: 15px;
        }
        @media (max-width: 360px) {
            font-size: 10px;
        }
    }
}